/* Contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f8ff;
}

.login-content {
  display: flex;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-left {
  flex: 1;
  padding: 40px;
  background-color: white;
}

.login-left h1 {
  font-size: 24px;
  color: #0b4861;
}

.login-left h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f4f7fb;
  font-size: 16px;
}

.forgot-password {
  text-align: right;
  margin-top: -10px;
}

.forgot-password a {
  color: #6c5ce7;
  text-decoration: none;
}

.login-btn {
  width: 100%;
  padding: 15px;
  background-color: #0b4861;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #3ca4af;
}

.social-login {
  margin-top: 20px;
  text-align: center;
}

.social-login span {
  display: block;
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ddd;
  color: rgb(180, 129, 129);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

.social-btn:hover {
  background-color: #6c5ce7;
}

.signup-footer {
  text-align: center;
  margin-top: 20px;
}

.signup-footer a {
  color: #6c5ce7;
  text-decoration: none;
}

.login-right {
  flex: 1;
  background-color: #b2e0e1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-right img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
